*{
    margin: 0;
    padding: 0;
    /* border: white dashed 1px; */
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
    height:300vh;
    background-color: rgb(34, 43, 63);
    color:white;
}

/* ---------------------NAVBAR--------------------- */
nav{
    display: flex;
    background-color:black;
    justify-content: space-around;
    padding: 20px;
    color: rgb(21, 233, 230);
    height: 50px;
    align-items: center;
    position:fixed;
    width:100%;
    top: 0;
    left: 0;
}
nav ul{
    display:flex;
    list-style-type: none;
    width: 35%;
    justify-content: space-between;
}
.logo{
    display:flex;
    justify-content: center;
    font-family: 'roboto' sans-serif;
    background-color:deepskyblue;
    color: white;
    padding: 10px;
    border-radius: 5px 0 5px 0;
    animation:logoanimation 2s infinite;
}
nav a{
    color: white;
    text-decoration:none;
    padding: 5px;
    border: white solid 3px;
    border-radius: 5px 0 5px 0;
}
nav a:hover{
    background-color: deepskyblue;
    letter-spacing: 3px;
}
nav a:active{
    background-color: grey;
    border: none;
}
/* --------------HAMBURGER MENU-------------- */
.menu-toggle{
    display:none;
    flex-direction: column;
    height:20px;
    justify-content: space-between;
    position: relative;
}
.menu-toggle input{
    position: absolute;
    width:40px;
    height:28px;
    left: -5px;
    top:-3px;
    opacity: 0;
    cursor :pointer;
    z-index: 2;

}
.menu-toggle span{
    display:block;
    width:28px;
    height:3px;
    background-color:deepskyblue;
    transition: all 0.4s;
}
/* ----------HAMBURGER MENU ANIMATION---------- */
.menu-toggle span:nth-child(2){
    transform-origin:0 0;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #fff;
    transform:rotate(45deg) translate(-1px, -1px);
}
.menu-toggle span:nth-child(4){
    transform-origin:0 100%;
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #fff;
    transform:rotate(-45deg) translate(-1px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity:0;
    transform:scale(0);
}

/* ----------LOGO ANIMATION---------- */
@keyframes logoanimation{
    0%{
        
    }
    100%{
        transform: rotate(360deg);
    }
}

/* ----------ARTICLE---------- */
article{
    height:100vh;
    background-image: url(aset/body.png);
    background-position: center;
    background-size: cover;
    display:flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.profile-wrapper{
    display:flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    align-items: center;
    width:50%;
    margin-top: 30px;
}
.profile-img{
    background-image: url(aset/profile-img.jpg);
    width:200px;
    height:200px;
    border-radius: 20% 0 20% 0;
    border: solid white 2px;
    background-position: center;
    background-size: cover;
    margin: 20px auto;
}

/* ----------SERIVCES---------- */
.service-container{
    display:flex;
    flex-flow:column nowrap;
    align-items: center;
    padding: 30px;
    height:100vh;
    justify-content:center;
    background:linear-gradient(45deg, rgb(74, 46, 103), rgb(28, 91, 110));
    
}
.service-container h2{
    margin-bottom: 20px;
}
.service-wrapper{
    display:flex;
    flex-flow: row nowrap;
    justify-content:space-between;

}
.service{
    text-align: center;
    width:30%;
    background-color:black;
    padding: 20px;
    border-radius: 20px 0 20px 0;
    height:130%;
    display:flex;
    flex-flow: column nowrap;
    justify-content:center;
}
.service:hover{
    color:black;
    background:linear-gradient(45deg, deepskyblue, deeppink);
    transform: scale(1.1);
    transition:0.5s;
    cursor:pointer;
}
/* ----------GALLERY---------- */
.gallery-container{
    background-color: rgb(34, 43, 63);
    height:100vh;
    display:flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}
.gallery-wrapper{
    margin-top: 20px;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    width:70%;

}
.vector-img{
    width:200px;
    height:200px;
    border-radius: 10px 0 10px 0;
}
.vector-img:hover{
    animation:galleryanimation 0.3s forwards;
}
/* GALLERY ANIMATION */
@keyframes galleryanimation{
    0%{}
    100%{transform:rotate(360deg) scale(1.2);}
}

/* -------------------FOOTER------------------- */
footer{
    display:flex;
    height:50px;
    flex-direction: row-reverse;
    justify-content:space-around;
    align-items: center;
    padding:20px;
    background-color: black;
    margin-top: 50px;
}
footer h4{
    margin:auto;
}
/* --------------Resposive breakpoint-------------- */

/* Tablet */
@media(max-width:768px){
    nav ul{
        width:70%;
    }
    .gallery-container{
        height:auto;

    }
}

/* Mobile */
@media(max-width:576px){
    nav{
        justify-content: space-between;
        padding: 20px;
        box-sizing: border-box;
        height:80px;
    }
    nav ul{
        background:linear-gradient(45deg, deepskyblue, darkblue);
        position:absolute;
        right: 0;
        top: 0;
        flex-direction: column;
        height:100vh;
        align-items: center;
        justify-content: space-evenly;
        z-index: -1;
        width:40%;
        transform:translateX(100%);
        transition: all 1s;
        opacity:0;
    }
    nav ul.slide{
        transform:translateX(0);
        opacity:1;
    }
    .menu-toggle{
        display:flex;
    }
    /* ARTICLE */

    article{
        margin-top: 15%;
        flex-direction: column;
        justify-content:space-between;
    }

    .profile-wrapper{
        width:90%;
    }
    /* SERVICE */
    .service-wrapper{
        flex-flow: column nowrap;
        justify-content:space-between;
        height:100vh;
    }
    .service{
        width:90%;
        height:auto;
    }
    /* GALLERY */
    .gallery-container{
        height:auto;

    }
    .gallery-wrapper{
        width:80%;
        flex-flow: row wrap;
        justify-content:space-around;
    }
    .vector-img{
        width:120px;
        height:120px;
    }
}

/* scroolbar customize */
::-webkit-scrollbar{
    width:15px;
}::-webkit-scrollbar-thumb{
    background:linear-gradient(to bottom,deeppink, deepskyblue);
    border-radius: 6px;
}
::-webkit-scrollbar-track{
    background-color: white;
}